div {
  width: 300px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  background-color: beige;
}

a {
  display: block;
}

h2 {
  background-color: lavender;
  padding: 0.2em;
  border-radius: 1.7em; 
  display: table;
}

.row {
  display: table-row; 
}

.row > :is(label, input, textarea, select, button) {
  display: table-cell; 
}
div.cell {
  display: table-cell; 
}

.table-form label {
  padding-right: 1rem;
}

.table-form input {  width: 150px;
}